body {
    width: auto;
    font-family: cursive;
    background-image: linear-gradient(#a5e8da, #fcf4dd, #f9dee1, #a5e8da) ;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    place-items: center;
    border: none;
    border-radius: 20px;
    box-shadow: rgb(153, 153, 153) 0px 3px 8px;
    background-color: #f9dee1;

    h1 {
        grid-column: 2 / 3;
        font-size: 35px;
    }

    .left {
        width: 200px;
        grid-column: 1 / 2;
    }

    .right {
        width: 200px;
        grid-column: 3 / 4;
    }

}

.form-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.form-field {
    grid-column: 2 / 3;
    width: 500px;
    text-align: center;
    margin: 10px 10px;

}

.form-separation{
    border: 0.1px dashed #fbc3ca;
    width: 300px;
}

.form__inputs {

    input, select {
        width: 450px;
        border: 1px solid #fbc3ca;
        margin: 5px;
        border-radius: 10px;
        text-align: center;
        font-family: cursive;
    }
}


#buttons {
    margin: 5px;

    button {
        width: 120px;
        padding: 5px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }
  
    #submit-botton {
        background-color: #fbc3ca;
        color: white;
        font-family: cursive;
    }

    #reset-button{
        background-color: white;
        border: 1px solid #fbc3ca;
        font-family: cursive;
    }
}

hr {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 0.1px dashed #fbc3ca;
}

.items-field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px 50px;
}

.article-template {

    font-family: sans-serif;
    width: 490px;
    display: flex;
    box-shadow: rgb(66, 66, 66) 0px 3px 8px;
    border: 1px dashed #fbc3ca;
    background-color: #daeaf6;
    border-radius: 20px;
    font-family: cursive;

    
    
    #image {
        padding: 20px;
    }
    
    img{
        width: 200px;
        height: 270px;
        border: 3px solid #fbc3ca;
    }
    
    #description {
        display: flexbox;
    }

    h2 {
        text-decoration: 4px underline #fbc3ca;
        margin: 20px;
        text-align: center;
    }

    .info{
        font-size: 14px;
        text-align: center;
        p{
            margin: 2px;
        }

        .price{
            font-size: 20px;
        }
    }

    .button-section {

        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items:center;

        .stock-buttons{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            #increment {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                width: auto;
                height: 30px;
                margin: 10px;
                border-radius: 10px;
                background-color: #a5e8da;
                color: white;
                border: none;
                cursor: pointer;
            }

    
            #stock{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                text-align: center;
                width: 60px;
                color: green;
                padding: 4px;
                margin: 10px 3px;
                font-size: 12px;
            }
            #decrement {
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                width: auto;
                height: 30px;
                margin: 10px;
                background-color: #fec4cb;
                border: none;
                border-radius: 10px;
                color: white;
                cursor: pointer;
            }

        }

        #remove{
            width: 80px;
            grid-row: 2 / 3;
            padding: 5px;
            background-color: #fec4cb;
            color: white;
            border-radius: 10px;
            border: none;
            margin: 10px 50px;
            font-family: cursive;
            font-size: 13px;
        
        }
    }
    
    #remove:hover {
        cursor: pointer;
        background-color: red;
    }
    #remove:active{
        background-color:lightpink;
    }
    #decrement:hover{
        cursor: pointer;
    }
    #increment:hover{
        cursor: pointer;
    }
}

#out-of-stock{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-align: center;
    width: 60px;
    padding: 4px;
    margin: 10px 3px;
    font-size: 12px;
    color: red;
}

.error {
    background-color: #fec4cb;
    margin: 0px auto;
}

@media (width >= 1069px) and (width <= 1521px){

    .items-field{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 70px 50px;
        place-items: center;
    }

}

@media (width <= 1068px){

    .items-field{
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px 50px;
        place-items: center;
    }

}

